*{
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

/* ---------- FONTS --------*/
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/GoogleSans-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Volkhov';
    src: url('../fonts/Volkhov-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

/* --------- VARIABLES -------- */
$fontGoogle: 'GoogleSans';
$fontOpenSans: 'OpenSans';
$fontVolkhov: 'Volkhov';
$fontPopBold: 'Poppins-Bold';
$fontPopMedium: 'Poppins-Medium';
$fontPopRegular: 'Poppins-Regular';
$fontPopSemiBold: 'Poppins-SemiBold';
$colorMenu: #212832;

/* --------- BREAKPOINT VARIABLES -------- */
$maxWidthContainer: 1299;
$md1: 1024.98;
$md2: 991.98;
$md3: 768.98;
$md4: 479.98;

._container {
    margin-left: 10%;
    @media(max-width:$md3+px) {
        margin: 10px 10px auto 10px;
    }
}

/* --------- HEADER -------- */
.header {
    background-image: url('../img/header/Decore.png');
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
    background-size: 50% 80%;
    @media(max-width:$md3+px) {
        background-image: none;
    }
    &__top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        margin-right: 10%;
        @media(max-width:$md3+px) {
            margin-top: 0;
        }
        .header__menu {
            display: flex;
            position: relative;
            @media(max-width:$md2+px) {
                margin-right: 0;
            }
            .menu__icon {
                @media(max-width:$md3+px){
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 18px;
                    cursor: pointer;
                    z-index: 15;
                    span {
                        transition: all 0.8s ease 0s;
                        top: calc(50% - 1px);
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: #000;
                        &:first-child {
                            top: 0px;
                        }
                        &:last-child {
                            top: auto;
                            bottom: 0px;
                        }
                    }
                }
                &._active {
                    span {
                        transform: rotate(-45deg);
                        top: 15px;
                        &:first-child {
                            transform: rotate(45deg);
                        }
                        &:last-child {
                            height: 0;
                        }
                    }
                }
            }
            .menu__body {
                @media(max-width:$md3+px){
                    transform: translate(0px, -100%);
                    transition: transform 0.8s ease;
                    position: fixed;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    overflow: auto;
                    background-color: rgb(255, 255, 255, 0.90);
                    z-index: 10;
                }
                &._active {
                    transform: translate(0px,0%);
                }
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                align-items: center;
                width: auto;
                @media(max-width:$md3+px){
                    display: block;
                    text-align: center;
                    overflow: auto;
                }
                li {
                    width: auto;
                    padding: 1em;
                    @media(max-width:$md2+px) {
                        padding: 0.4em;
                    }
                    @media(max-width:$md3+px){
                        padding: 0;
                    }
                    .menu__link {
                        text-decoration: none;
                        font-family: $fontGoogle;
                        font-size: 17px;
                        color: $colorMenu;
                        transition: color 0.5s;
                        @media(min-width:$md3+px) {
                            &:hover {
                                color: #DF6951;
                            }
                        }
                        @media(max-width:$md3+px){
                            display: flex;
                            justify-content: center;
                            padding-left: 0px;
                            margin-left: auto;
                            font-size: 40px;
                            padding-top: 40px;
                            margin-right: 0;
                            margin-top: 20px;
                        }
                    }
                    .menu__btn {
                        display: inline-flex;
                        font-size: 17px;
                        font-family: $fontGoogle;
                        color: $colorMenu;
                        text-decoration: none;
                        padding: 10px 20px;
                        border: 1px solid $colorMenu;
                        border-radius: 4px;
                        transition: background-color 0.5s;
                        @media(max-width:$md3+px){
                            font-size: 40px;
                            margin-left: 0;
                            margin-top: 40px;
                        }
                        @media(min-width:$md3+px) {
                            &:hover {
                                background-color: #DF6951;
                                color: #fff;
                                border: 1px solid #fff;
                            }
                        }                      
                    } 
                    .menu__dropdown {
                        @media(max-width:$md3+px){
                            margin: 40px auto;
                        }
                        .menu__language {
                            appearance: none;
                            background: url('../img/header/vector.png') no-repeat right;
                            background-position-x: calc(100% - 35px);
                            font-size: 17px;
                            font-family: $fontGoogle;
                            color: $colorMenu;
                            border: none;
                            transition: color 0.5s;
                            @media(max-width:$md3+px){
                                display: none;
                            }
                            @media(min-width:$md3+px) {
                                &:hover {
                                    color: #DF6951;
                                }
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }                   
                }
            }
        }
    }
    .hero {
        display: flex;
        padding-right: 10%;
        background-image: url('/src/img/header/traveller.png');
        background-repeat: no-repeat;
        background-position: right 0 top 10%;
        background-position-x: 90%;
        @media(max-width:$md3+px) {
            padding-right: 0;
            background: none;
        }
        &__content {
            margin-top: 130px;
            padding-bottom: 80px;
            flex-basis: 55%;
            @media(max-width:$md3+px) {
                flex-basis: 100%;
                margin-top: 40px;
            }
        }
        &__title {
            font-family: $fontPopBold;
            font-size: 20px;
            color: #DF6951;
            text-transform: uppercase;
            margin-bottom: 24px;
            @media(max-width:$md1+px) {
                font-size: 18px; 
                margin-bottom: 12px;
            }
            @media(max-width:$md3+px) {
                text-align: center;
                font-size: 14px; 
                margin-bottom: 10px;
            }
        }
        &__heading {
            font-family: $fontVolkhov;
            font-size: 84px;
            color: #181E4B;
            margin-bottom: 30px;
            @media(max-width:$md1+px) {
                font-size: 45px; 
                margin-bottom: 12px;
            }
            @media(max-width:$md3+px) {
                text-align: center;
                font-size: 30px; 
                margin-bottom: 10px;
            }
        }
        &__text {
            margin-bottom: 34px;
            padding-right: 30%;
            @media(max-width:$md3+px) {
                padding-right: 0;
                margin-bottom: 10px;
                text-align: center;
            }
        }
        &__btns {
            display: flex;
            align-items: center;
            @media(max-width:$md3+px) {
                display: block;
            }
        }
        &__more {
            background-color: #F1A501;
            width: 170px;
            box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
            border-radius: 10px;
            padding: 19px 25px;
            transition: background-color 0.5s ease;
            @media(max-width:$md3+px) {
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
            a {
                font-family: $fontGoogle;
                font-size: 18px;
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                cursor: pointer;
                background-color: #e7d105;
            }
        }
        &__demo {
            display: flex;
            align-items: center;
            margin-left: 44px;
            @media(max-width:$md3+px) {
                width: 80%;
                justify-content: center;
                margin-top: 10px;
            }
            &_icon{
                width: 52px;
                height: 52px;
                background-color: #DF6951;
                border-radius: 50%;
                box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
                img {
                   width: 15px;
                   margin: 20px 20px auto 20px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &_text {
                font-family: $fontPopMedium;
                font-size: 17px;
                color: #686D77;
                padding-left: 21px;
            }
        }
    }
}

/* --------- CATEGORY SECTION -------- */
.category {
    margin-top: 100px;
    background: url('/src/img/category/bg.png') no-repeat;
    background-position: top 0px right 50px;
    @media(max-width:$md3+px) {
        margin-top: 10px;
        background: none;
    }    
    ._main {
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 36px;
    }
    &__header{
        text-align: center;
        margin-bottom: 10px;
        padding-right: 10%;
        @media(max-width:$md3+px) {
            padding-right: 0;
        }
    }
    &__title{
        text-align: center;
        margin-bottom: 70px;
        padding-right: 10%;
        @media(max-width:$md3+px) {
            padding-right: 0;
            margin-bottom: 0;
        }
    }
    &__items{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-right: 10%;
        @media(max-width:$md3+px) {
            flex-wrap: wrap;
            padding-right: 0;
        }
        .category__item{
            text-align: center;
            padding: 10px 35px;
            @media(max-width:$md3+px){
                margin-right: 0;
                margin-top: 30px;
            }
            &_title{
                font-family: $fontOpenSans;
                font-size: 20px;
                color: #1E1D4C;
                margin-top: 30px;
                margin-bottom: 15px;
                @media(max-width:$md3+px){
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

/* --------- TOP SELLING SECTION -------- */
.top-selling {
    margin-top: 130px;
    padding-right: 12%;
    @media(max-width:$md3+px){
        margin-top: 40px;
        padding-right: 0px; 
    }
    &__header {
        text-align: center;
        margin-bottom: 10px;
        @media(max-width:$md3+px){
            margin-bottom: 5px;
        }
    }
    &__title {
        text-align: center;
        margin-bottom: 60px;
        @media(max-width:$md3+px){
            margin-bottom: 20px;
        }
    }
    &__items {
        display: flex;
        margin-bottom: 30px;
        background: url('/src/img/top-selling/bg.png') no-repeat;
        background-position: right;
        @media(max-width:$md3+px) {
            background: none;
            overflow: auto;
        }
    }
    &__item {
        flex-basis: 33%;
        margin: 0 3% 0 3%;
        border-radius: 24px;
        filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
        @media(max-width:$md3+px){
            flex: 0 0 85%;
        }
        &_container {
            margin-top: 17rem;
            background-color: #fff;
            padding: 25px 20px 30px 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            @media(max-width:$md3+px){
                margin-top: 220px;
                padding: 10px;
            }
        }
        &_info {
            display: flex;
            justify-content: space-between;
        }
        &_days {
            display: flex;
            align-items: center;
            padding-top: 20px;
            @media(max-width:$md3+px){
                padding-top: 5px;
            }
        }
    }
    &__destination,&__price {
        font-family: $fontPopMedium;
        font-size: 18px;
        color: #5E6282;
    }
    &__days {
        font-family: $fontPopMedium;
        font-size: 16px;
        color: #5E6282;
        padding-left: 15px;
    }
    ._first {
        background-image: url('/src/img/top-selling/01.jpg');
        background-size: 100% 100%;
    }
    ._second {
        background-image: url('/src/img/top-selling/02.jpg');
        background-size: 100% 100%;
    }
    ._third {
        background-image: url('/src/img/top-selling/03.jpg');
        background-size: 100% 100%;
    }
}

/* --------- EASY FAST SECTION -------- */
.easy-fast {
    margin-top: 180px;
    display: flex;
    @media(max-width:$md3+px){
        margin-top: 40px;
        flex-direction: column;
    }
    &__info {
        flex-basis: 50%;
        @media(max-width:$md3+px){
            flex-basis: 50%; 
        }
    }
    &__header {
        @media(max-width:$md3+px){
            text-align: center; 
        }
    }
    &__title {
        @media(max-width:$md3+px){
            text-align: center; 
        }
    }
    &__items {
        margin-top: 30px;
    }
    &__item{
        display: flex;
        align-items: center;
        padding-bottom: 48px;
        &_info{
            padding-left: 20px;
            .item__title {
                font-family: $fontPopBold;
                font-size: 16px;
                color: #5E6282;
            }
        }
        &_icon {
            padding: 13px;
        }
    }
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        max-width: 100%;
        background-image: url('/src/img/easy-fast/bg-small.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: top;
    }
    &__picture {
        margin-top: 10%;
        width: 100%;
        @media(max-width:$md3+px){
            margin-top: 0;
        }
    }
    .vector_first {
        background: #F0BB1F;
        border-radius: 13px;
    }
    .vector_second {
        background: #F15A2B;
        border-radius: 13px;
    }
    .vector_third {
        background: #006380;
        border-radius: 13px;
    }
}

/* --------- LOGOS SECTION -------- */
.logos{
    &__items {
        margin-right: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        overflow: auto;
        background: #FFFFFF;
        @media(max-width:$md3+px) {
            margin-right: 0;
        }
    }
    &__item1 {
        width: 130px;
        height: 130px;
        background: url('/src/img/logos/01.svg');
        mix-blend-mode: luminosity;
    }
    &__item2 {
        width: 172.86px;
        height: 110px;
        background: url('/src/img/logos/02.svg');
        mix-blend-mode: luminosity;
    }
    &__item3 {
        width: 162px;
        height: 162px;
        background: url('/src/img/logos/03.svg');
        mix-blend-mode: luminosity;
    }
    &__item4 {
        width: 162px;
        height: 32px;
        background: url('/src/img/logos/04.svg');
        mix-blend-mode: luminosity;
    }
    &__item5 {
        width: 94px;
        height: 21px;
        background: url('/src/img/logos/05.svg');
        mix-blend-mode: luminosity;
    }
    ._logo {
        &:hover {
            cursor: pointer;
            mix-blend-mode: initial;
        } 
        @media(max-width:$md3+px) {
            flex-basis: 50%;
            background-size: 140px 140px;
            background-attachment: cover;
            background-repeat: no-repeat;
            background-position: center;
            &:last-child {
                flex-basis: 100%;
            }
        }       
    }
}

/* --------- SUBSCRIBE SECTION -------- */
.subscribe {
    @media(max-width:$md3+px){
        margin-top: 50px;
    }
    @media(min-width:$md3+px){
        background:url('/src/img/subscribe/bg.png');
        background-position: bottom 0 right 3%;
        background-repeat: no-repeat;
        padding-bottom: 5%;
        margin-top: 80px;
    }
    &__container {
         border-radius: 129px 20px 20px 20px;
         margin-right: 10%;
         background: #f7f3f7;
         border: 1px solid rgb(255, 255, 255);
         @media(max-width:$md3+px){
             margin-right: 0;
             border-radius: 20px;
         }
    }
    &__send {
        position: absolute;
        right: 7%;
        @media(max-width:$md3+px){
            display: none;
        }
    }
    &__title {
        font-family: $fontPopSemiBold;
        font-size: 33px;
        color: #5E6282;
        text-align: center;
        margin: 3rem 10rem;
        @media(max-width:$md3+px){
            font-size: 16px;
            margin: 25px 0;
        }
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        &_email {
            display: flex;
            background-color: #fff;
            width: 40%;
            border-radius: 10px;
            @media(max-width:$md3+px){
                flex-basis: 90%;
                margin-bottom: 20px;
            }
        }
        &_btn {
            font-family: $fontOpenSans;
            font-size: 17px;
            padding: 22px 50px;
            margin-left: 20px;
            color: #fff;
            background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
            border-radius: 10px;
            border-width: 0;
            @media(min-width:$md3+px) {
                &:hover {
                    cursor: pointer;
                    background: linear-gradient(180deg, #fd5c21 0%, #b12e1a 100%);
                }                
            }
        }       
    }
    &__icon {
        padding: 22px 10px;
    }
    &__input {
        padding: 22px 0;
        &_field {
            border: none;
            width: 100%;
        }
    }
}

/* --------- FOOTER -------- */
.footer {
    margin-right: 10%;
    margin-top: 100px;
    @media(max-width:$md3+px) {
        margin-right: 0;
        margin-top: 30px;
    }
    &__company {
        flex-basis: 25%;
        &_title {
            font-family: $fontPopMedium;
            font-size: 44px;
            color: #181E4B;
            @media(max-width:$md3+px){
                font-size: 30px;
            }
        }
        &_description {
            font-family: $fontPopMedium;
            font-size: 13px;
            color: #5E6282;
            @media(max-width:$md3+px){
                font-size: 10px;
            }
        }
        @media(max-width:$md3+px) {
            flex-basis: 100%;
            text-align: center;
            margin: auto;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width:$md3+px) {
            flex-wrap: wrap;
        }
    }
    &__nav {
        flex-basis: 40%;
        padding-top: 15px;
        @media(max-width:$md3+px){
            flex-basis: 100%;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        @media(max-width:$md3+px) {
            justify-content: space-around;
        }
    }
    &__item {
        text-align: left;
        &_title {
            font-family: $fontPopBold;
            font-size: 21px;
            color: #080809;
            @media(max-width:$md3+px) {
                font-size: 14px;
            }
        }
        &_links {
            list-style-type: none;
            padding: 0;
        }
    }
    &__link {
        text-decoration: none;
        font-family: $fontPopMedium;
        font-size: 18px;
        color: #5E6282;
        @media(max-width:$md3+px) {
            font-size: 10px;
            margin: auto;
        }
    }
    &__outbound {
        align-self: center;
        @media(max-width:$md3+px) {
            flex-basis: 100%;
        }
        &_social {
            text-align: center;
        }
        &_icon {
            width: 40px;
            padding: 10px;
            border-radius: 50%;
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            @media(min-width:$md3+px){
                &:hover {
                    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
                    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
                }
            }
        }
        &_discover {
            font-family: $fontPopMedium;
            font-size: 20px;
            color: #5E6282;
            text-align: center;
            padding: 16px 0;
            @media(max-width:$md3+px) {
                font-size: 14px;
                padding: 10px 0;
            }
        }
        &_apps {
            text-align: center;
        }
    }
    &__rights {
        margin: 80px auto;
        text-align: center;
        font-family: $fontPopMedium;
        font-size: 14px;
        color: #5E6282;
        @media(max-width:$md3+px) {
            font-size: 8px;
            margin: 20px auto;
        }
    }
}

/* --------- COMMON CLASSES -------- */
._text {
    font-family: $fontPopMedium;
    font-size: 16px;
    color: #5E6282;
}

._header {
    font-family: $fontPopSemiBold;
    font-size: 18px;
    color: #5E6282;
    @media(max-width:$md3+px) {
        font-size: 14px;
    }
}

._title {
    font-family: $fontVolkhov;
    font-size: 50px;
    color: #14183E;
    @media(max-width:$md3+px) {
        font-size: 30px;
    }
}

