* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* ---------- FONTS --------*/
@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans-Medium.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Volkhov";
  src: url("../fonts/Volkhov-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
/* --------- VARIABLES -------- */
/* --------- BREAKPOINT VARIABLES -------- */
._container {
  max-width: 1299px;
  margin-left: 140px;
  margin-right: 0;
}
@media (max-width: 991.98px) {
  ._container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* --------- HEADER -------- */
.header {
  background-image: url("../img/header/Decore.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 636px 872px;
}
@media (max-width: 1024.98px) {
  .header {
    background-size: 466px 772px;
  }
}
@media (max-width: 991.98px) {
  .header {
    margin-top: 10px;
  }
}
@media (max-width: 768.98px) {
  .header {
    background-image: none;
  }
}
.header__top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
@media (max-width: 768.98px) {
  .header__top-nav {
    margin-top: 0;
  }
}
.header__top-nav .header__menu {
  margin-right: 4em;
}
@media (max-width: 991.98px) {
  .header__top-nav .header__menu {
    margin-right: 0;
  }
}
@media (max-width: 768.98px) {
  .header__top-nav .header__menu .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 15;
  }
  .header__top-nav .header__menu .menu__icon span {
    transition: all 0.8s ease 0s;
    top: calc(50% - 1px);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header__top-nav .header__menu .menu__icon span:first-child {
    top: 0px;
  }
  .header__top-nav .header__menu .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
}
.header__top-nav .header__menu .menu__icon._active span {
  transform: rotate(-45deg);
  top: 15px;
}
.header__top-nav .header__menu .menu__icon._active span:first-child {
  transform: rotate(45deg);
}
.header__top-nav .header__menu .menu__icon._active span:last-child {
  height: 0;
}
.header__top-nav .header__menu .menu__body {
  display: flex;
  list-style-type: none;
  align-items: center;
}
@media (max-width: 768.98px) {
  .header__top-nav .header__menu .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.8s ease;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
  }
}
.header__top-nav .header__menu .menu__body._active {
  transform: translate(0px, 0%);
}
@media (max-width: 768.98px) {
  .header__top-nav .header__menu .menu__body {
    display: block;
    text-align: center;
    overflow: auto;
  }
}
.header__top-nav .header__menu .menu__body li .menu__link {
  text-decoration: none;
  font-family: "GoogleSans";
  font-size: 17px;
  color: #212832;
  padding-left: 3em;
}
@media (max-width: 768.98px) {
  .header__top-nav .header__menu .menu__body li .menu__link {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    font-size: 40px;
    padding-top: 40px;
  }
}
@media (max-width: 1024.98px) {
  .header__top-nav .header__menu .menu__body li .menu__link {
    padding-left: 2em;
  }
}
.header__top-nav .header__menu .menu__body li .menu__btn {
  display: inline-flex;
  font-size: 17px;
  font-family: "GoogleSans";
  color: #212832;
  text-decoration: none;
  margin-left: 3em;
  padding: 10px 20px;
  border: 1px solid #212832;
  border-radius: 4px;
}
@media (max-width: 768.98px) {
  .header__top-nav .header__menu .menu__body li .menu__btn {
    font-size: 40px;
    margin-left: 0;
    margin-top: 40px;
  }
}
@media (max-width: 1024.98px) {
  .header__top-nav .header__menu .menu__body li .menu__btn {
    margin-left: 2em;
  }
}
.header__top-nav .header__menu .menu__body li .menu__dropdown {
  margin-left: 3em;
}
@media (max-width: 768.98px) {
  .header__top-nav .header__menu .menu__body li .menu__dropdown {
    margin: 40px auto;
  }
}
@media (max-width: 1024.98px) {
  .header__top-nav .header__menu .menu__body li .menu__dropdown {
    margin-left: 2em;
  }
}
.header__top-nav .header__menu .menu__body li .menu__dropdown .menu__language {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/header/Vector 1.png") no-repeat right;
  background-position-x: calc(100% - 35px);
  font-size: 17px;
  font-family: "GoogleSans";
  color: #212832;
  border: none;
}
@media (max-width: 768.98px) {
  .header__top-nav .header__menu .menu__body li .menu__dropdown .menu__language {
    display: none;
  }
}
.header__top-nav .header__menu .menu__body li .menu__dropdown .menu__language:hover {
  cursor: pointer;
}
.header .hero {
  display: flex;
  background-image: url("../img/header/main-bg.png");
  background-size: 780px 760px;
  background-repeat: no-repeat;
  background-position-x: 85%;
}
@media (max-width: 1024.98px) {
  .header .hero {
    background-size: 480px 560px;
  }
}
@media (max-width: 768.98px) {
  .header .hero {
    background-image: none;
  }
}
.header .hero__content {
  margin-top: 130px;
  flex-basis: 50%;
}
@media (max-width: 1024.98px) {
  .header .hero__content {
    margin-top: 50px;
  }
}
@media (max-width: 768.98px) {
  .header .hero__content {
    flex-basis: 100%;
  }
}
.header .hero__title {
  font-family: "Poppins-Bold";
  font-size: 20px;
  color: #DF6951;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1024.98px) {
  .header .hero__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
@media (max-width: 768.98px) {
  .header .hero__title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.header .hero__heading {
  font-family: "Volkhov";
  font-size: 84px;
  color: #181E4B;
  margin-bottom: 30px;
}
@media (max-width: 1024.98px) {
  .header .hero__heading {
    font-size: 45px;
    margin-bottom: 12px;
  }
}
@media (max-width: 768.98px) {
  .header .hero__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.header .hero__text {
  margin-bottom: 34px;
  padding-right: 30%;
}
@media (max-width: 768.98px) {
  .header .hero__text {
    padding-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}
.header .hero__btns {
  display: flex;
  align-items: center;
}
@media (max-width: 768.98px) {
  .header .hero__btns {
    display: block;
  }
}
.header .hero__more {
  background-color: #F1A501;
  width: 170px;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  padding: 19px 25px;
  transition: background-color 0.5s ease;
}
@media (max-width: 768.98px) {
  .header .hero__more {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
.header .hero__more a {
  font-family: "GoogleSans";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.header .hero__more:hover {
  cursor: pointer;
  background-color: #e7d105;
}
.header .hero__demo {
  display: flex;
  align-items: center;
  margin-left: 44px;
}
@media (max-width: 768.98px) {
  .header .hero__demo {
    width: 80%;
    justify-content: center;
    margin-top: 10px;
  }
}
.header .hero__demo_icon {
  width: 52px;
  height: 52px;
  background-color: #DF6951;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}
.header .hero__demo_icon img {
  width: 15px;
  margin: 20px 20px auto 20px;
}
.header .hero__demo_icon:hover {
  cursor: pointer;
}
.header .hero__demo_text {
  font-family: "Poppins-Medium";
  font-size: 17px;
  color: #686D77;
  padding-left: 21px;
}

/* --------- COMMON CLASSES -------- */
._text {
  font-family: "Poppins-Medium";
  font-size: 16px;
  color: #5E6282;
}/*# sourceMappingURL=style.css.map */